/* Coolors Exported Palette - https://coolors.co/bea3f8-eaefbe-94a4f7-f9d2e7-9ae1de */

/* CSS HEX */
--mauve: #bea3f8ff;
--cream: #eaefbeff;
--wisteria-blue: #94a4f7ff;
--petal-frost: #f9d2e7ff;
--pearl-aqua: #9ae1deff;

/* CSS HSL */
--mauve: hsla(259, 86%, 81%, 1);
--cream: hsla(66, 60%, 84%, 1);
--wisteria-blue: hsla(230, 86%, 77%, 1);
--petal-frost: hsla(328, 76%, 90%, 1);
--pearl-aqua: hsla(177, 54%, 74%, 1);

/* SCSS HEX */
$mauve: #bea3f8ff;
$cream: #eaefbeff;
$wisteria-blue: #94a4f7ff;
$petal-frost: #f9d2e7ff;
$pearl-aqua: #9ae1deff;

/* SCSS HSL */
$mauve: hsla(259, 86%, 81%, 1);
$cream: hsla(66, 60%, 84%, 1);
$wisteria-blue: hsla(230, 86%, 77%, 1);
$petal-frost: hsla(328, 76%, 90%, 1);
$pearl-aqua: hsla(177, 54%, 74%, 1);

/* SCSS RGB */
$mauve: rgba(190, 163, 248, 1);
$cream: rgba(234, 239, 190, 1);
$wisteria-blue: rgba(148, 164, 247, 1);
$petal-frost: rgba(249, 210, 231, 1);
$pearl-aqua: rgba(154, 225, 222, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #bea3f8ff, #eaefbeff, #94a4f7ff, #f9d2e7ff, #9ae1deff);
$gradient-right: linear-gradient(90deg, #bea3f8ff, #eaefbeff, #94a4f7ff, #f9d2e7ff, #9ae1deff);
$gradient-bottom: linear-gradient(180deg, #bea3f8ff, #eaefbeff, #94a4f7ff, #f9d2e7ff, #9ae1deff);
$gradient-left: linear-gradient(270deg, #bea3f8ff, #eaefbeff, #94a4f7ff, #f9d2e7ff, #9ae1deff);
$gradient-top-right: linear-gradient(45deg, #bea3f8ff, #eaefbeff, #94a4f7ff, #f9d2e7ff, #9ae1deff);
$gradient-bottom-right: linear-gradient(135deg, #bea3f8ff, #eaefbeff, #94a4f7ff, #f9d2e7ff, #9ae1deff);
$gradient-top-left: linear-gradient(225deg, #bea3f8ff, #eaefbeff, #94a4f7ff, #f9d2e7ff, #9ae1deff);
$gradient-bottom-left: linear-gradient(315deg, #bea3f8ff, #eaefbeff, #94a4f7ff, #f9d2e7ff, #9ae1deff);
$gradient-radial: radial-gradient(#bea3f8ff, #eaefbeff, #94a4f7ff, #f9d2e7ff, #9ae1deff);